<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>

  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">Hello Admin</p>
        <p class="subtitle">Welcome to Dashboard</p>
      </div>
    </section>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
